<% include _header %>
<h1>SignUp Now!</h1>
<form action="/signup" method="POST">
  <input class="form-control" type="text" name="username" placeholder="username">
  <input class="form-control" type="password" name="password" placeholder="password">
  <input class="btn btn-primary btn-block" type="submit" value="sure">
</form>
<% include _footer %>